<div *ngIf="isLoggedIn; else loggedOut">
  <!--avaliar efetuar um redirect para pagina de user quando logado-->
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="central">
    <div class="div-center">
      <p class="h2 text-center">Login do Cliente</p>
    </div>
    <div class="form-group div-center">
      <label>Login:</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
             required />
      <div *ngIf="f.submitted && username.invalid">
        <div class="alert alert-danger" *ngIf="username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group div-center">
      <label>Senha:</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
             required minlength="6" />
      <div *ngIf="f.submitted && password.invalid">
        <div class="alert alert-danger" *ngIf="password.errors.required">Password is required</div>
        <div class="alert alert-danger" *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group div-center">
      <button class="btn btn-outline-success button-login">Login</button>
      <div class="alert alert-danger" *ngIf="f.submitted && isLoginFailed">
        Erro ao logar! Usuário ou senha inválido!
      </div>
    </div>
  </form>

  <div class="div-center">
    <p class="text-center">Não tem cadastro? <a href="signup">Cadastre-se</a></p>
  </div>
</ng-template>
