<div class="row">
  <div class="col-12 alert alert-primary">
    <h5>Dados básicos do usuário logado</h5>
  </div>
  <div class="col-12">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome do usuário</th>
              <th scope="col">Nível de Permissão</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{info.username}}</th>
              <td>{{info.authorities}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>