<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="div-center">
      <p class="h2 text-center">Cadastre-se</p>
    </div>
    <div class="form-group div-center">
      <label>Seu nome:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
      <div *ngIf="f.submitted && name.invalid">
        <div class="alert alert-danger" *ngIf="name.errors.required">Nome é necessário</div>
      </div>
    </div>

    <div class="form-group div-center">
      <label>Login:</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
             required />
      <div *ngIf="f.submitted && username.invalid">
        <div class="alert alert-danger" *ngIf="username.errors.required">Login é necessário</div>
      </div>
    </div>

    <div class="form-group div-center">
      <label>Email:</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
      <div *ngIf="f.submitted && email.invalid">
        <div class="alert alert-danger" *ngIf="email.errors.required">Email é necessário</div>
        <div class="alert alert-danger" *ngIf="email.errors.email">Email deve ter um endereço válido</div>
      </div>
    </div>

    <div class="form-group div-center">
      <label>Senha:</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
             required minlength="6" />
      <div *ngIf="f.submitted && password.invalid">
        <div class="alert alert-danger" *ngIf="password.errors.required">Senha é necessária</div>
        <div class="alert alert-danger" *ngIf="password.errors.minlength">Senha deve ter pelo menos 6 caracteres</div>
      </div>
    </div>

    <div class="form-group div-center">
      <button class="btn btn-outline-success button-login">Criar seu cadastro</button>
      <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
        Cadastrato falhou!<br/>{{errorMessage}}
      </div>
    </div>
  </form>
</ng-template>
